html,
body {
	background: #f7f7f7;
}

.header {
	height: 50px;
	width: 100%;
	background: #ff841d;
	border-bottom: 1px solid #e6e6e6;
}

.header_l {
	width: 75%;
	padding: 12px;
	text-align: left;
}

.header_l .logo {
	display: block;
	height: 100%;
}

.header_l .logo img {
	max-height: 25px;
	overflow: hidden;
}

.header_r {
	padding: 7px;
}

.header_r .app img {
	max-height: 34px;
	overflow: hidden;
}

.mui-content {
	padding-top: 40px !important;
	overflow: hidden;
	background-color: #fff;
}

.mui-content .search {
	margin-top: 10px;
	min-height: 50px;
	background: #fff;
	padding: 0 10px;
	padding-bottom: 0;
}

.search input {
	margin-top: 10px;
	margin-bottom: 10px;
}

.search .mui-placeholder {
	margin-top: 10px;
}

.nav {
	height: 36px;
	background-color: #ebebeb;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
	background: -moz-linear-gradient(top, #ffffff, #ebebeb);
	background: -o-linear-gradient(top, #ffffff, #ebebeb);
	border-top: solid 1px #ebebeb;
	border-bottom: 1px solid #ccc;
	line-height: 36px;
	padding-left: 8px;
	font-size: 14px;
}

.brief {
	padding: 5px;
	padding-top: 0;
	padding-bottom: 0;
}

.briefin {
	background: #ebebeb;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	color: #666;
}

.hbanner {
	color: #874604;
	background: #f3f3f3;
	border: 1px solid #c8c8c8;
	border-left: none;
	border-right: none;
}

.hbanner h3 {
	line-height: 36px;
	font-size: 14px;
	padding-left: 10px;
}

.briefin ul li {
	background: #f5f5f5;
	list-style: none;
	padding: 10px;
}
.mui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: -10px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
.briefin ul li a {
	display: block;
}

.briefin ul li a em {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	background: #c9c9c9;
	color: #FFFFFF;
	line-height: 20px;
	vertical-align: top;
	margin: 0 10px 0 0;
	font-size: 14px;
}

.briefin .inner {
	display: inline-block;
}

.briefin .inner p {
	font-size: 12px;
	color: #999999;
	margin-top: 3px;
}

.briefin .tit {
	color: #000000;
}

#ctl00_foot .foot_top {
	margin-top: 10px;
	background: #efefef;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	height: 34px;
	line-height: 34px;
	margin-top: 25px;
	clear: both;
}

#ctl00_foot .foot_top a {
	box-sizing: border-box;
	float: left;
	font-size: 14px;
	border-right: 1px solid #c4c4c4;
	text-align: center;
	width: 30%;
}

#ctl00_foot .footer {
	background: #efefef;
	text-align: center;
	font-size: 12px;
	padding: 15px 0;
	color: #666;
}